# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
*/node_modules
*/.pnp
*/.pnp.js
.yarn/*

# testing
*/coverage

# production
client/build
client/dist
client/dist-ssr
# misc
*/.DS_Store
*/*.pem
*/THUMBS_DB
*/thumbs.db
*/*.suo
*/*.ntvs*
*/*.njsproj
*/*.sln
*/*.sw?

# debug
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/.pnpm-debug.log*

# local env files
backend/.env
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local

# code-formatting
.prettierrc

# vscode settings
.vscode/
*/.vscode/